@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	header {
		@apply mx-auto sticky top-0 xs:px-4 sm:px-8 transition z-[10] dark:bg-dark dark:text-white dark:border-b-black;
	}

	main {
		@apply mx-auto px-2 xs:px-4 sm:px-8 dark:bg-dark min-h-[75vh];
	}

	section {
		@apply max-w-screen-2xl mx-auto py-6 dark:bg-dark;
	}

	footer {
		@apply border-t-1 py-4 md:py-10 px-2 xs:px-4 sm:px-8 bg-[#fafafa] dark:bg-dark text-xs sm:text-sm h-60;
	}

	h1 {
		@apply text-lg font-bold md:text-xl mb-3 md:mb-6 dark:text-white;
	}

	h2 {
		@apply font-bold mb-3 md:mb-6 dark:text-white;
	}

	h3 {
		@apply text-lg font-semibold md:text-xl dark:text-white;
	}

	h4 {
		@apply text-base font-medium md:text-lg dark:text-white;
	}

	input {
		@apply outline-none;
	}

	fieldset {
		@apply vertical;
	}
}

@layer components {
	.auth-label {
		@apply mb-1 text-sm md:text-base dark:bg-dark dark:text-white;
	}

	.mandatory {
		@apply before:content-["*"] before:mr-0.5 before:text-red-500;
	}

	.auth-input {
		@apply border-1 grow enabled:hover:border-gray-400 transition p-2 outline-none font-medium last:mb-0 text-xs md:text-base dark:bg-dark dark:text-white;
	}

	.guide-msg {
		@apply text-red-400 text-xs md:text-sm mb-1 md:mb-0 font-semibold;
	}

	.auth-button {
		@apply border-1 border-gray-400 hover:bg-gray-200 transition rounded-md inline-block cursor-pointer h-full text-xs py-1 px-2 lg:shrink-0;
	}

	.btn-primary {
		@apply py-2 px-4 text-sm bg-main text-white font-semibold rounded-lg hover:bg-opacity-90 active:scale-95 transition;
	}

	.btn-secondary {
		@apply py-2 px-4 text-sm bg-gray-300 text-white font-semibold rounded-lg;
	}

	.btn-secondary.disabled {
		@apply cursor-not-allowed;
	}

	.vertical {
		@apply flex flex-col;
	}

	.horizontal {
		@apply flex flex-row;
	}

	.center {
		@apply justify-center items-center;
	}

	.btn-filter {
		@apply flex py-2 pl-4 pr-2 bg-white border-1 border-main rounded-full;
	}

	.slider {
		@apply w-full mb-6;
	}

	.thead {
		@apply text-right w-max border border-transparent;
	}

	.tbody {
		@apply border border-transparent;
	}

	.post-label {
		@apply font-medium text-xs md:text-sm lg:text-base dark:bg-dark dark:text-white;
	}

	.post-input {
		@apply p-1 border-1 w-20 text-xs md:w-32 md:text-sm lg:text-base dark:bg-dark dark:text-white;
	}

	.post-btn {
		@apply py-1 px-2 text-xs bg-white text-main font-medium rounded-lg border-main border-1 cursor-pointer hover:bg-main hover:text-white active:scale-95 transition md:text-sm;
	}

	.space-between {
		@apply flex items-center justify-between;
	}

	.point-sub {
		@apply text-base mb-1 md:text-lg md:mb-2;
	}

	.signup-fieldset {
		@apply vertical mb-3 w-full md:mb-6;
	}

	.mypage-layout {
		@apply space-y-6 md:flex md:space-x-6 md:space-y-0;
	}

	.mypage-form {
		@apply vertical p-3 max-w-lg space-y-2;
	}

	.filter-form {
		@apply absolute top-12 z-[3] rounded-lg border-1 w-72 h-max bg-white vertical px-12 py-6 justify-center space-y-6 sm:w-96 dark:bg-dark dark:text-white transition;
	}

	.auth-form {
		@apply vertical bg-white rounded-lg border-1 border-gray-200 p-8 dark:bg-dark dark:text-white;
	}

	.mypage-label {
		@apply text-sm md:text-base font-medium;
	}

	.dark-mode {
		@apply px-2 py-1 horizontal text-sm font-semibold items-center space-x-2 dark:hover:bg-black hover:bg-main hover:text-white;
	}

	.sidemenu-btn {
		@apply w-2/3 btn-primary rounded-full text-center cursor-pointer;
	}

	.map {
		@apply block w-full h-1/2 z-[2] shrink-0;
	}

	.skeleton-text {
		@apply bg-gray-200 rounded-full dark:bg-gray-700;
	}

	.landing-h1 {
		@apply text-xl text-center sm:text-3xl md:text-4xl;
	}

	.landing-h2 {
		@apply text-xs sm:text-xl md:text-3xl mb-0;
	}

	.landing-article {
		@apply bg-[#fbfbfd] dark:bg-dark;
	}
}

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	color: #2b292d;
	/* background-color: #f9f9f9; */
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
